.App {
  text-align: center;
  margin-top: 30px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
a:visited, a:link{
  text-decoration: none;
  color: navajowhite;
}
table td{
  padding: 9px;
  font-size: 19px;
  border: 1px solid rgba(53, 160, 99, 0.2);
  background-color: rgb(47, 48, 49);
  color: navajowhite;
}
.btn0, .btn1{
  display: inline-block;
  cursor: pointer;
  margin-left: 10px !important;
}
.btn3{
  margin: 5px;
  margin-bottom: 75px;
}
.inpt0{
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.inpt1{
  width: 25px;
  height: 25px;
}
.inpt2{
  height: 30px;
  margin: 10px;
  width: 230px;
}
.list0 li a:link, .list0 li a:visited,.list0 li{
  text-decoration: none;
  list-style-type: none;
  color: darkslategray !important;
  font-size: 18px;
}
.l0{
  color:darkslategray !important;
}
.counters p{
  float: left;
  margin-left: 15px;
}
.btn{
  cursor: pointer;
}